@import "./vars";

@import "./pages/startPage";

@import "./components/header";
@import "./components/navFooter";
body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Quicksand", sans-serif;
}
.fontInstant {
  font-family: "Kaushan Script", cursive;
  font-size: 130%;
}
.colorTurquoise {
  color: $turquoise;
}
a {
  text-decoration: none;
  color: inherit;
}
.App {
  height: 100vh;
  // background-color: pink;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow-x: auto;
  padding: $paddingContent;
}
