main.startPage {
  position: relative;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./../../images/500537-istock-611860128.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .dateNow {
    position: relative;
    font-weight: bold;
    z-index: 1;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    .weekdayNow {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin: 0;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .dayNow {
      font-size: 1rem;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 25px;
      &:before,
      &:after {
        content: "";
        display: block;
        border: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(7deg);
      }
      &:after {
        border: 1px solid $turquoise;
        transform: rotate(20deg);
      }
    }
    .monthNow {
      font-size: 2rem;
      margin: 0;
      margin-top: 5px;
      padding-left: 4rem;
      text-transform: uppercase;
    }
    .et {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 6rem;
      transform: translate(40%, 25%);
      color: $turquoise;
      z-index: -1;
      font-family: "Satisfy", cursive;
      //   margin: 0;
      //   opacity: 0.6;
    }
  }
  .infosStart {
    margin: 50px 0;
    background: rgba(#000000, 0.6);
    padding: 10px 20px;
    border-left: 2px solid $turquoise;
    .icon {
      // vertical-align: middle;
      margin-right: 5px;
    }
  }
}
